<%=erb(:header)%>
<div id="content">
    <h2><%=@dest.url_code%> ==> <a href="#" onclick="document.forms.follow_link.submit();"><%=@dest.url%></a></h2>
    <table class='url_data'>
        <tr><td>Visit count</td><td><%=@dest.visit_count%></td></tr>
        <tr><td>Created on</td><td><%=@dest.created_at.strftime("%m/%d/%Y")%></td></tr>
        <tr><td>Continue percentage</td><td><%= (@dest.visit_count/@dest.entry_count.to_f * 100).to_i%>%</td></tr>
        <tr><td>Staff verified</td><td><%=@dest.staff_verified%></td></tr>
    </table>
<% if @dest.hits.count() > 0 %>
<h2>Recent Referrers</h2>
<table class='url_data'>
<% for hit in @dest.hits %>
  <tr><td><%=hit.referrer%></td><td><%=hit.time_stamp.strftime("%m/%d/%Y %H:%M:%S")%></td></tr>
<% end %>
</table>
<% else %>
<h3>No referrer data yet!</h3>
<% end %>
</div>
<form method="post" action="/<%=@dest.url_code%>" name="follow_link">
<input type="hidden" name="referrer" value="<%=@referrer%>">    
</form>
<%=erb(:footer)%>