<% if @error == true%>
    Oh no!  Something has gone horribly wrong:
    <ul>
    <%@destination.errors.each do |e|%>
          <li><%=e%></li>
    <%end%>
    </ul>
<% else %>
<h2>Your shortened URL is:</h2>
<h2><a href="<%=@site%>/<%=@hash%>"><%=@site%>/<%=@hash%></a></h2>
    <% if @recycled_link == true%>
        <h3>&#9842; - this URL is recycled (first saved on <%=@existing_destination.created_at.strftime("%m/%d/%Y")%>).</h3>
    <% end %>
<% end %>